/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/laravel-whatsapp-server/backend/node_modules
/laravel-whatsapp-server/vendor
/laravel-whatsapp-server/config/database.php
/config/database.php
/laravel-whatsapp-server/.env
/laravel-whatsapp-server/backend/.env
/public/uploads/